@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  justify-content: center;
}
nav a {
  margin: 0 1rem;
}

@layer utilities {
  .shadow-box {
    box-shadow: 0 0 10px #5e5e5e;
  }
}

@layer components {
  .btn {
    @apply flex justify-center items-center bg-blue w-24 h-9 rounded-md text-white
  }
}


@layer utilities {
  .gradient-sky {
    background-image: linear-gradient(#ddecfb, #ffffff);
  }
}

@layer components {
  .company {
    @apply w-36 h-12 bg-blue text-white my-2 rounded-md
  }
}

@layer components {
  .customer {
    @apply w-36 h-12 bg-white text-blue my-2 rounded-md border border-blue border-solid
  }
}

@layer utilities {
  .w-995 {
    width: 995px;
  }
}

@layer utilities {
  .w-1045 {
    width: 1045px;
  }
}